@import "tailwindcss";


.pb{
    @apply border-2 border-red-700
}

body {
    @apply bg-[#f5f5f5];
}

.bg-dish {
    background-image: url('./assets/Chicken_biryani_banner.png');
    background-size: cover;
    background-position: center;
}